@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');


*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*-padding and border are included in the width and height-*/
  text-transform: capitalize;
  transition: all .2s linear;
  text-decoration: none;
}

html{
  font-size: 62.5%;
}

body{
  min-height: 100vh;
}

.content{
  overflow: hidden;
  background-image: linear-gradient(rgba(4,3,10,0.5),rgba(4,3,10,0.5)),url(img/logins.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat ;
  margin-top: 6%;
  min-height: 100vh;
}


.header{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  position: fixed;
  top:0; left: 0;
  z-index: 100;
}

.header .logo{
  font-size: 2.5rem;
  color: white;
}

.header .logo img{
  padding: 0 0.5rem;
  width:13rem;
  margin-bottom: -10%;
}

.header .logo div{
  display: inline;
  position: absolute;
  top: 33%;
  margin-left: -1%;
  font-size: 110%;
  background-color:black;
}
.header .logo div:hover{
  letter-spacing: 0.1rem;
  color: #8c3d08;
}

.header .navbar ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 150%;

}

.header .navbar ul li{
  margin: 0 1.5rem;

}

.header .navbar ul li a{
  font-size: 2 rem;
  color: white;
}

.header .navbar ul li a:hover{
  color:#f5da95;
}

.header .fa-bars{
  color: white;
  cursor: pointer;
  font-size: 3rem;
  display: none;
}

.login{height:83%;
	  width:55%;
	  position:absolute;
	  margin-left:50%;
	  border-radius: 10px;
	  transition: ease all 0.5s;
    margin-top: 10%;
	}

#form-group1{margin-top:12%;
			opacity:0.5;}

#form-group2{margin-top:3%;
			opacity:0.5;}


.email-bt{border: 1px solid black;
    color: white;
    width: 45%;
    height: 35px;
    font-size: 22px;
    padding: 10px;}

.head1{height:10%;
	  width:10%;
	  background-color:#202020;
	  margin-left:57%;
	  margin-top:8%;
	  box-shadow: 12px 15px 10px 2px #000000;
	  text-align:center;
    position: absolute;
	}

.head1 h1{color:#f28500;
	font-size:30px;
	}

#btn1{
    background-color: #fd7e14;
    border: none;
    color: #ffffff;
    width: 100px;
    height: 58px;
    border-radius: 25px;
    font-size: 20px;
    margin-left:16%;
    margin-top:5%;
    cursor: pointer;
}

/* #btn2{
  display: flex;

    background-color: #fd7e14;
    border: none;
    width: 150px;
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
	  display:none;
    margin-left:12.5%;
    margin-top:3%;
    cursor: pointer;
    color: #fff;
    text-align: center;
    justify-content: center;
} */

#btn2{
  display: inline-block;
  background-color: #fd7e14;
  border: none;
  color: #ffffff;
  width: 100px;
  height: 58px;
  border-radius: 25px;
  font-size: 20px;
margin-left:13%;
margin-top:5%;
cursor: pointer;
text-align: center;
justify-content: center;

}

#btn2 > a{
  color: white;
}

  .foot{
    width: 100%;
    height: 40px;
    background-color: #363030;
    color:darkgray;
    margin-top: 20px;
    padding: 5px;
  }

  .foot:hover{
      letter-spacing: 0.1rem;
      color: #c25812;
  }

  .footer {
    background-color:#030615;
    padding: 6rem 10rem;
    line-height: 3rem;
  }

  .footer-center span {
    margin-right: 1rem;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--white);
  }

  .footer-center a:link,
  .footer-center a:visited {
    display: block;
    color: #f1f1f1;
    font-size: 1.4rem;
    transition: 0.6s;
  }

  .footer-center a:hover {
    color: #edd68c;
  }

  .footer-center div {
    color: #f1f1f1;
    font-size: 1.4rem;
  }

  .footer-center h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #8c3d08;
  }

  @media only screen and (max-width: 998px) {
    .footer-container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }
  }



  @media (max-width:900px){
    html{
      font-size: 50%;
    }

    body{
      background-image: linear-gradient( #861415 20%, khaki);
        background-repeat: none;
        min-height: 100vh;
    }

    .content{
      background-image: linear-gradient( #861415 20%, khaki);
        background-repeat: none;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        position: relative;
        top: 7rem;
    }
    .header .fa-bars{
      display: block;
    }
    .header .fa-bars:hover{
      color: #8c3d08;
    }

    .header .navbar{
      position: fixed;
      top:-120%; left:0;
      height: auto;
      width: 100%;
      background-color: white;
      z-index: 1000;
      border-top: .1rem solid rgba(0,0,0,0.3);
      margin-left: 3rem;
    }

    .header .navbar ul{
      height: 100%;
      width: 100;
      flex-flow: column;
    }

    .header .navbar ul li{
      margin: 1rem 0rem;
    }

    .header .navbar ul li a{
      color: chocolate;
      font-size: 2.4rem;
    }

    .header .fa-times{
      transform: rotate(180deg);
    }

    .header .nav-toggle{
      top:12rem;
    }

    .head1{
      margin-left: 10rem;
      height: auto;
      width: auto;
    }

    .head1 h1{
      font-size: 30px;
    }

    #form-group1{
      margin-top: 10rem;
      margin-left: -30%;
    }

    #form-group2{
      margin-left: -30%;
    }
    .email-bt{
      height: 40px;
      width: 70%;
      font-size: 14px;
    }

    .send_btn{
      justify-content: center;
    }

    #btn1{
      height: auto;
      margin-left: 7%;
      margin-top: 10%;
      font-size: 24px;
    }

    #btn2{
      height: auto;
      font-size: 20px;
      margin-top: 15%;
      margin-left: 10%;
    }
    }

    @media(max-width: 545px){
      .head1{
        margin-left: 3rem;
      }
      .head1 h1{
        font-size: 20px;
      }

      .send_btn{margin-left: -10%;}

      #btn1{
        font-size: 20px;
      }

      .sign{
        margin-left: -25%;
      }
    }
